
/*Her satte jeg min baggrundsfarve ind*/
*{
    background-color: #000000;
}

/*Her designede jeg min what knappe*/
.whatknappe {
    background: #DB2E65;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #DB2E65;  
    margin-top: 88px;
    margin-left: 40px;
}

/*Her designede jeg mit what tekst indhold*/
.whatindhold {
    background: #DB2E65;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 354px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #DB2E65;   
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
}

/*Her designede jeg min facts knappe*/
.factsknappe {
    background: #59E1F5;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #59E1F5;
    margin-top: 64px;
    margin-left: 200px;
}

/*Her designede jeg mit facts teksindhold*/
.factsindhold {
    background: #59E1F5;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 354px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #59E1F5;  
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
}

/*Her designede jeg min how knappe*/
.howknappe {
    background: #EADB66;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #EADB66;
    margin-top: 64px;
    margin-left: 40px;
}

/*Her designede jeg mit how indhold*/
.howindhold {
    background: #EADB66;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 354px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #EADB66;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
}

/*Her designede jeg should knappe*/
.shouldknappe {
    background: #9A7FFA;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #9A7FFA;
    margin-top: 64px;
    margin-left: 200px;
}

/*Her designede jeg mit should indhold*/
.shouldindhold {
    background: #9A7FFA;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 354px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #9A7FFA;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
}

/*Her designede jeg min home knappe*/
.homeknappe {
    background: #80EBA5;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #80EBA5;
    margin-top: 64px;
    margin-left: 40px;
}

/*Her designede jeg min footeer*/
.footer {
    color: white;
    margin-top: 172px;
    margin-bottom: 50px;
    margin-left: 10px;
}

/*Her designede jeg skriften på footeren*/
.footer .title {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Her designede jeg skriften på footeren*/
.footer .about {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Her designede jeg skriften på footeren*/
.footer .contact {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Her designede jeg mine links og gjorde dem hvide*/
.footer a {
    color: white;
}

.footer .link {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer .email {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Her lavede jeg media queries*/
@media (min-width: 990px) {

    /*Her lavede jeg hover effekt*/
    .whatknappe:hover {
        background-color: #e1628a;
    }

    .factsknappe:hover {
        background-color: #aee8f1;
    }

    .howknappe:hover {
        background-color: #efe595;
    }

    .shouldknappe:hover {
        background-color: #beaff4;
    }

    .whatknappe {
        margin-left: 216px;
        margin-top: 125px;
        cursor: pointer
    }

    .whatindhold {
        margin-left: 100px;
    }

    .factsknappe {
        margin-left: 700px;
        margin-top: 50px;
        cursor: pointer
    }

    .factsindhold {
        margin-left: 580px;
    }

    .howknappe {
        margin-left: 216px;
        margin-top: 50px;
        cursor: pointer
    }

    .howindhold {
        margin-left: 100px;
    }

    .shouldknappe {
        margin-left: 1100px;
        margin-top: 50px;
        cursor: pointer
    }

    .shouldindhold {
        margin-left: 980px;
    }

    /*Her gjorde jeg home knappen usynlig*/
    .homeknappe {
        visibility: hidden;
    }
}
